# AXI VIP runtime configuration.
# N masters share one s0 AXI slave through axi_arbiter.

master_num=1
timeout_cycle=20000

# Set master_num=N and add m1 through mN-1 to enable multiple masters.

m0.enable=1
m0.base_addr=0x00001000
m0.byte_size=0x00000100
m0.data_mode=addr
m0.data_value=0x00000000
m0.data_file=master0.bin
m0.axi_awvalid_mode=continuous
m0.axi_awvalid_gap_min=0
m0.axi_awvalid_gap_max=8

s0.enable=1
s0.mem_size=0x00002000
s0.data_mode=addr
s0.data_value=0x00000000
s0.data_file=slave0.bin
s0.axi_reorder_depth=0
s0.axi_awready_mode=continuous
s0.axi_awready_gap_min=0
s0.axi_awready_gap_max=8
